In [2]:
import tkinter as tk
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [3]:
def connectToDatabase(query):
    engine = create_engine("mysql://root:Aaron101702@localhost/mco1datawarehouse")
    with engine.connect() as conn, conn.begin():
        return pd.read_sql(query, conn)

In [20]:
query1 = "SELECT c.region_name, c.province, c.city, YEAR(a.endtime) AS appointment_year, SUM(CASE WHEN a.isvirtual = 1 THEN 1 ELSE 0 END) AS virtual_appointments, SUM(CASE WHEN a.isvirtual = 0 THEN 1 ELSE 0 END) AS non_virtual_appointments FROM appointments a JOIN clinics c ON a.clinicid = c.clinicid WHERE a.apptstatus=\"Complete\" AND YEAR(a.endtime) <> 1970 GROUP BY c.region_name, c.province, c.city, YEAR(a.endtime) WITH ROLLUP ORDER BY c.region_name, c.province, c.city, appointment_year"

In [5]:
query3 = "SELECT DAYOFWEEK(apptdate) AS \"day_of_appointment\", D.city, D.province, D.region_name, AVG(D.appts) FROM (SELECT c.city, c.province, c.region_name, DATE(a.queuedate) as apptdate, COUNT(a.apptid) AS appts FROM appointments a JOIN clinics c ON a.clinicid = c.clinicid WHERE YEAR(a.queuedate) <> 1970 GROUP BY DATE(a.queuedate), c.city, c.province, c.region_name) D GROUP BY DAYOFWEEK(apptdate), D.city, D.province, D.region_name WITH ROLLUP ORDER BY DAYOFWEEK(apptdate), AVG(D.appts) DESC, D.city, D.province, D.region_name;"

In [6]:
query4 = "SELECT d.mainspecialty, p.agerange, p.age, a.isvirtual, COUNT(a.apptid) AS count_appointments, AVG(TIMESTAMPDIFF(MINUTE, a.starttime, a.endtime)) AS average_appointment_duration_minutes FROM appointments a JOIN patients p ON a.pxid = p.pxid JOIN doctors d ON a.doctorid = d.doctorid WHERE YEAR(a.starttime) <> 1970 AND YEAR(a.endtime) <> 1970 AND a.apptstatus = \"COMPLETE\" AND p.agerange <> \"INVALID\" GROUP BY d.mainspecialty, p.agerange, p.age, a.isvirtual WITH ROLLUP ORDER BY d.mainspecialty, p.agerange, p.age, a.isvirtual;"

In [21]:
query1_df = connectToDatabase(query1)
query1_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
0,None,None,None,NaN,3338.0,30671.0
1,CALABARZON (IV-A),None,None,NaN,2.0,1546.0
2,CALABARZON (IV-A),Cavite,None,NaN,0.0,67.0
3,CALABARZON (IV-A),Cavite,Bacoor City,NaN,0.0,24.0
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
...,...,...,...,...,...,...
142,Western Visayas (VI),None,None,NaN,3.0,2.0
143,Western Visayas (VI),Iloilo,None,NaN,3.0,2.0
144,Western Visayas (VI),Iloilo,Iloilo City,NaN,3.0,2.0
145,Western Visayas (VI),Iloilo,Iloilo City,2020.0,0.0,2.0
146,Western Visayas (VI),Iloilo,Iloilo City,2021.0,3.0,0.0

In [8]:
query3_df = connectToDatabase(query3)
query3_df

,day_of_appointment,city,province,region_name,AVG(D.appts)
0,NaN,None,None,None,12.3987
1,1.0,Quezon City,None,None,58.5887
2,1.0,Quezon City,Manila,None,58.5887
3,1.0,Quezon City,Manila,National Capital Region (NCR),58.5887
4,1.0,General Santos City,None,None,26.0902
...,...,...,...,...,...
606,7.0,San Juan,Manila,None,1.0000
607,7.0,San Juan,Manila,National Capital Region (NCR),1.0000
608,7.0,Santa Rosa City,None,None,1.0000
609,7.0,Santa Rosa City,Laguna,None,1.0000
610,7.0,Santa Rosa City,Laguna,CALABARZON (IV-A),1.0000

In [9]:
query4_df = connectToDatabase(query4)
query4_df

,mainspecialty,agerange,age,isvirtual,count_appointments,average_appointment_duration_minutes
0,None,None,NaN,NaN,34008,25.6514
1,DERMATOLOGY,None,NaN,NaN,11146,29.4921
2,DERMATOLOGY,0-9,NaN,NaN,131,26.4809
3,DERMATOLOGY,0-9,5.0,NaN,6,17.5000
4,DERMATOLOGY,0-9,5.0,0.0,6,17.5000
...,...,...,...,...,...,...
1216,Pediatrics,60+,74.0,NaN,8,15.0000
1217,Pediatrics,60+,74.0,0.0,2,15.0000
1218,Pediatrics,60+,74.0,1.0,6,15.0000
1219,Pediatrics,60+,76.0,NaN,1,10.0000
1220,Pediatrics,60+,76.0,0.0,1,10.0000

In [22]:
#WHERE A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NULL AND A.appointment_year IS NULL;
q1_1_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].isnull() & query1_df['appointment_year'].isnull()]
q1_1_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
2,CALABARZON (IV-A),Cavite,None,NaN,0.0,67.0
11,CALABARZON (IV-A),Laguna,None,NaN,2.0,1479.0
31,Central Luzon (III),Bulacan,None,NaN,0.0,249.0
36,Central Luzon (III),Zambales,None,NaN,0.0,84.0
43,Central Visayas (VII),Cebu,None,NaN,244.0,1178.0
56,Ilocos Region (I),La Union,None,NaN,0.0,3.0
61,Ilocos Region (I),Pangasinan,None,NaN,0.0,6.0
66,National Capital Region (NCR),Manila,None,NaN,3081.0,27463.0
133,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,None,NaN,1.0,0.0
136,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,None,NaN,7.0,140.0
143,Western Visayas (VI),Iloilo,None,NaN,3.0,2.0

In [44]:
#WHERE A.appointment_year = 2020 AND A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL;
q1_slice_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].notnull()]
q1_slice_df = query1_df.loc[query1_df['appointment_year'] == 2020]
q1_slice_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
7,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2020.0,0.0,1.0
13,CALABARZON (IV-A),Laguna,Calamba City,2020.0,0.0,102.0
19,CALABARZON (IV-A),Laguna,Pangil,2020.0,0.0,164.0
24,CALABARZON (IV-A),Laguna,Santa Rosa City,2020.0,0.0,13.0
29,CALABARZON (IV-A),Laguna,Siniloan,2020.0,0.0,1.0
33,Central Luzon (III),Bulacan,Malolos City,2020.0,0.0,107.0
45,Central Visayas (VII),Cebu,Cebu City,2020.0,47.0,79.0
50,Central Visayas (VII),Cebu,Liloan,2020.0,2.0,184.0
59,Ilocos Region (I),La Union,San Fernando City,2020.0,0.0,1.0
71,National Capital Region (NCR),Manila,Makati,2020.0,131.0,1203.0
82,National Capital Region (NCR),Manila,Mandaluyong,2020.0,0.0,2.0
88,National Capital Region (NCR),Manila,Manila,2020.0,56.0,51.0
94,National Capital Region (NCR),Manila,Muntinlupa,2020.0,19.0,619.0
100,National Capital Region (NCR),Manila,ParaÃ±aque,2020.0,0.0,25.0
104,National Capital Region (NCR),Manila,Pasig,2020.0,81.0,250.0
110,National Capital Region (NCR),Manila,Quezon City,2020.0,6.0,88.0
116,National Capital Region (NCR),Manila,San Juan,2020.0,0.0,142.0
122,National Capital Region (NCR),Manila,Taguig,2020.0,0.0,1.0
135,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,2020.0,1.0,0.0
145,Western Visayas (VI),Iloilo,Iloilo City,2020.0,0.0,2.0

In [56]:
#WHERE (appointment_year >= 2020 AND appointment_year <= 2021) AND (A.region_name = 'National Capital Region (NCR)' OR A.region_name = 'CALABARZON (IV-A)') AND A.province IS NOT NULL AND A.city IS NOT NULL;
q1_dice_df = query1_df.loc[query1_df['province'].notnull() & query1_df['city'].notnull()]
q1_dice_df = query1_df.loc[(query1_df['region_name'] == 'National Capital Region (NCR)') | (query1_df['region_name'] == 'CALABARZON (IV-A)')]
q1_dice_df = query1_df.loc[(query1_df['appointment_year'] == 2020) | (query1_df['appointment_year'] == 2021)]
q1_dice_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
5,CALABARZON (IV-A),Cavite,Bacoor City,2021.0,0.0,8.0
7,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2020.0,0.0,1.0
8,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2021.0,0.0,11.0
13,CALABARZON (IV-A),Laguna,Calamba City,2020.0,0.0,102.0
14,CALABARZON (IV-A),Laguna,Calamba City,2021.0,1.0,148.0
19,CALABARZON (IV-A),Laguna,Pangil,2020.0,0.0,164.0
20,CALABARZON (IV-A),Laguna,Pangil,2021.0,0.0,331.0
24,CALABARZON (IV-A),Laguna,Santa Rosa City,2020.0,0.0,13.0
25,CALABARZON (IV-A),Laguna,Santa Rosa City,2021.0,0.0,28.0
29,CALABARZON (IV-A),Laguna,Siniloan,2020.0,0.0,1.0
33,Central Luzon (III),Bulacan,Malolos City,2020.0,0.0,107.0
34,Central Luzon (III),Bulacan,Malolos City,2021.0,0.0,102.0
38,Central Luzon (III),Zambales,Olongapo City,2021.0,0.0,12.0
45,Central Visayas (VII),Cebu,Cebu City,2020.0,47.0,79.0
46,Central Visayas (VII),Cebu,Cebu City,2021.0,194.0,54.0
50,Central Visayas (VII),Cebu,Liloan,2020.0,2.0,184.0
51,Central Visayas (VII),Cebu,Liloan,2021.0,0.0,318.0
59,Ilocos Region (I),La Union,San Fernando City,2020.0,0.0,1.0
60,Ilocos Region (I),La Union,San Fernando City,2021.0,0.0,1.0
64,Ilocos Region (I),Pangasinan,Pozzorubio,2021.0,0.0,3.0
71,National Capital Region (NCR),Manila,Makati,2020.0,131.0,1203.0
72,National Capital Region (NCR),Manila,Makati,2021.0,417.0,2377.0
77,National Capital Region (NCR),Manila,Malabon,2021.0,0.0,709.0
82,National Capital Region (NCR),Manila,Mandaluyong,2020.0,0.0,2.0
88,National Capital Region (NCR),Manila,Manila,2020.0,56.0,51.0
89,National Capital Region (NCR),Manila,Manila,2021.0,384.0,159.0
94,National Capital Region (NCR),Manila,Muntinlupa,2020.0,19.0,619.0
95,National Capital Region (NCR),Manila,Muntinlupa,2021.0,24.0,1015.0
100,National Capital Region (NCR),Manila,ParaÃ±aque,2020.0,0.0,25.0
104,National Capital Region (NCR),Manila,Pasig,2020.0,81.0,250.0
105,National Capital Region (NCR),Manila,Pasig,2021.0,347.0,219.0
110,National Capital Region (NCR),Manila,Quezon City,2020.0,6.0,88.0
111,National Capital Region (NCR),Manila,Quezon City,2021.0,11.0,125.0
116,National Capital Region (NCR),Manila,San Juan,2020.0,0.0,142.0
117,National Capital Region (NCR),Manila,San Juan,2021.0,0.0,1302.0
122,National Capital Region (NCR),Manila,Taguig,2020.0,0.0,1.0
123,National Capital Region (NCR),Manila,Taguig,2021.0,6.0,5.0
128,National Capital Region (NCR),Manila,Valenzuela,2021.0,0.0,13.0
135,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,2020.0,1.0,0.0
138,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,2021.0,6.0,8.0
145,Western Visayas (VI),Iloilo,Iloilo City,2020.0,0.0,2.0
146,Western Visayas (VI),Iloilo,Iloilo City,2021.0,3.0,0.0

In [57]:
#WHERE A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL AND A.appointment_year IS NULL;
q1_drilldown_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].notnull() & query1_df['appointment_year'].isnull()]
q1_drilldown_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
3,CALABARZON (IV-A),Cavite,Bacoor City,NaN,0.0,24.0
6,CALABARZON (IV-A),Cavite,DasmariÃ±as City,NaN,0.0,43.0
12,CALABARZON (IV-A),Laguna,Calamba City,NaN,2.0,577.0
18,CALABARZON (IV-A),Laguna,Pangil,NaN,0.0,782.0
23,CALABARZON (IV-A),Laguna,Santa Rosa City,NaN,0.0,119.0
28,CALABARZON (IV-A),Laguna,Siniloan,NaN,0.0,1.0
32,Central Luzon (III),Bulacan,Malolos City,NaN,0.0,249.0
37,Central Luzon (III),Zambales,Olongapo City,NaN,0.0,84.0
44,Central Visayas (VII),Cebu,Cebu City,NaN,242.0,196.0
49,Central Visayas (VII),Cebu,Liloan,NaN,2.0,982.0
57,Ilocos Region (I),La Union,San Fernando City,NaN,0.0,3.0
62,Ilocos Region (I),Pangasinan,Pozzorubio,NaN,0.0,6.0
67,National Capital Region (NCR),Manila,Makati,NaN,602.0,10437.0
76,National Capital Region (NCR),Manila,Malabon,NaN,0.0,4352.0
81,National Capital Region (NCR),Manila,Mandaluyong,NaN,0.0,3.0
84,National Capital Region (NCR),Manila,Manila,NaN,1618.0,1212.0
93,National Capital Region (NCR),Manila,Muntinlupa,NaN,44.0,3940.0
99,National Capital Region (NCR),Manila,ParaÃ±aque,NaN,0.0,25.0
101,National Capital Region (NCR),Manila,Pasig,NaN,755.0,2214.0
109,National Capital Region (NCR),Manila,Quezon City,NaN,30.0,673.0
115,National Capital Region (NCR),Manila,San Juan,NaN,0.0,4301.0
121,National Capital Region (NCR),Manila,Taguig,NaN,32.0,194.0
127,National Capital Region (NCR),Manila,Valenzuela,NaN,0.0,112.0
134,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,NaN,1.0,0.0
137,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,NaN,7.0,140.0
144,Western Visayas (VI),Iloilo,Iloilo City,NaN,3.0,2.0

In [58]:
#WHERE A.region_name IS NOT NULL AND A.province IS NULL AND A.city IS NULL AND A.appointment_year IS NULL;
q1_rollup_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].isnull() & query1_df['city'].isnull() & query1_df['appointment_year'].isnull()]
q1_rollup_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
1,CALABARZON (IV-A),None,None,NaN,2.0,1546.0
30,Central Luzon (III),None,None,NaN,0.0,333.0
42,Central Visayas (VII),None,None,NaN,244.0,1178.0
55,Ilocos Region (I),None,None,NaN,0.0,9.0
65,National Capital Region (NCR),None,None,NaN,3081.0,27463.0
132,SOCCSKSARGEN (Cotabato Region) (XII),None,None,NaN,8.0,140.0
142,Western Visayas (VI),None,None,NaN,3.0,2.0