In [2]:
import tkinter as tk
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [3]:
def connectToDatabase(query):
    engine = create_engine("mysql://root:Aaron101702@localhost/mco1datawarehouse")
    with engine.connect() as conn, conn.begin():
        return pd.read_sql(query, conn)

In [20]:
query1 = "SELECT c.region_name, c.province, c.city, YEAR(a.endtime) AS appointment_year, SUM(CASE WHEN a.isvirtual = 1 THEN 1 ELSE 0 END) AS virtual_appointments, SUM(CASE WHEN a.isvirtual = 0 THEN 1 ELSE 0 END) AS non_virtual_appointments FROM appointments a JOIN clinics c ON a.clinicid = c.clinicid WHERE a.apptstatus=\"Complete\" AND YEAR(a.endtime) <> 1970 GROUP BY c.region_name, c.province, c.city, YEAR(a.endtime) WITH ROLLUP ORDER BY c.region_name, c.province, c.city, appointment_year"

In [61]:
query3 = "SELECT DAYOFWEEK(apptdate) as appt_day_of_week, D.region_name, D.province, D.city, AVG(D.appts) FROM 	(SELECT c.city, c.province, c.region_name, DATE(a.queuedate) as apptdate, COUNT(*) AS appts FROM appointments a JOIN clinics c ON a.clinicid = c.clinicid WHERE a.apptstatus = \"Complete\" OR a.apptstatus = \"Queued\" OR a.apptstatus = \"Serving\" GROUP BY DATE(a.queuedate), c.region_name, c.province, c.city) D GROUP BY DAYOFWEEK(apptdate), D.region_name, D.province, D.city WITH ROLLUP ORDER BY DAYOFWEEK(apptdate), AVG(D.appts) DESC, D.region_name, D.province, D.city"

In [90]:
query4 = "SELECT d.mainspecialty, a.isvirtual, p.agerange, p.age, COUNT(a.apptid) AS count_appointments, AVG(TIMESTAMPDIFF(HOUR, a.timequeued, a.starttime)) AS average_queue_wait_time_hours FROM appointments a JOIN patients p ON a.pxid = p.pxid JOIN doctors d ON a.doctorid = d.doctorid WHERE YEAR(a.starttime) <> 1970 AND p.agerange <> \"INVALID\" AND a.appttype = \"Consultation\" GROUP BY d.mainspecialty, a.isvirtual, p.agerange, p.age WITH ROLLUP ORDER BY d.mainspecialty, a.isvirtual, p.agerange, p.age"

In [21]:
query1_df = connectToDatabase(query1)
query1_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
0,None,None,None,NaN,3338.0,30671.0
1,CALABARZON (IV-A),None,None,NaN,2.0,1546.0
2,CALABARZON (IV-A),Cavite,None,NaN,0.0,67.0
3,CALABARZON (IV-A),Cavite,Bacoor City,NaN,0.0,24.0
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
...,...,...,...,...,...,...
142,Western Visayas (VI),None,None,NaN,3.0,2.0
143,Western Visayas (VI),Iloilo,None,NaN,3.0,2.0
144,Western Visayas (VI),Iloilo,Iloilo City,NaN,3.0,2.0
145,Western Visayas (VI),Iloilo,Iloilo City,2020.0,0.0,2.0
146,Western Visayas (VI),Iloilo,Iloilo City,2021.0,3.0,0.0

In [62]:
query3_df = connectToDatabase(query3)
query3_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
0,NaN,None,None,None,12.3243
1,1.0,National Capital Region (NCR),Manila,Quezon City,58.5108
2,1.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,None,26.0827
3,1.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,26.0827
4,1.0,SOCCSKSARGEN (Cotabato Region) (XII),None,None,25.8955
...,...,...,...,...,...
366,7.0,National Capital Region (NCR),Manila,Mandaluyong,1.0000
367,7.0,National Capital Region (NCR),Manila,San Juan,1.0000
368,7.0,Western Visayas (VI),None,None,1.0000
369,7.0,Western Visayas (VI),Iloilo,None,1.0000
370,7.0,Western Visayas (VI),Iloilo,Iloilo City,1.0000

In [91]:
query4_df = connectToDatabase(query4)
query4_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
0,None,NaN,None,NaN,202752,171.3055
1,DERMATOLOGY,NaN,None,NaN,40547,13.9720
2,DERMATOLOGY,0.0,None,NaN,39873,13.8945
3,DERMATOLOGY,0.0,0-9,NaN,223,119.0179
4,DERMATOLOGY,0.0,0-9,5.0,9,35.7778
...,...,...,...,...,...,...
934,Pediatrics,1.0,20-29,25.0,1,7.0000
935,Pediatrics,1.0,40-49,NaN,1,0.0000
936,Pediatrics,1.0,40-49,45.0,1,0.0000
937,Pediatrics,1.0,60+,NaN,6,0.0000
938,Pediatrics,1.0,60+,74.0,6,0.0000

In [22]:
#WHERE A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NULL AND A.appointment_year IS NULL;
q1_1_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].isnull() & query1_df['appointment_year'].isnull()]
q1_1_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
2,CALABARZON (IV-A),Cavite,None,NaN,0.0,67.0
11,CALABARZON (IV-A),Laguna,None,NaN,2.0,1479.0
31,Central Luzon (III),Bulacan,None,NaN,0.0,249.0
36,Central Luzon (III),Zambales,None,NaN,0.0,84.0
43,Central Visayas (VII),Cebu,None,NaN,244.0,1178.0
56,Ilocos Region (I),La Union,None,NaN,0.0,3.0
61,Ilocos Region (I),Pangasinan,None,NaN,0.0,6.0
66,National Capital Region (NCR),Manila,None,NaN,3081.0,27463.0
133,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,None,NaN,1.0,0.0
136,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,None,NaN,7.0,140.0
143,Western Visayas (VI),Iloilo,None,NaN,3.0,2.0

In [44]:
#WHERE A.appointment_year = 2020 AND A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL;
q1_slice_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].notnull()]
q1_slice_df = q1_slice_df.loc[query1_df['appointment_year'] == 2020]
q1_slice_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
7,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2020.0,0.0,1.0
13,CALABARZON (IV-A),Laguna,Calamba City,2020.0,0.0,102.0
19,CALABARZON (IV-A),Laguna,Pangil,2020.0,0.0,164.0
24,CALABARZON (IV-A),Laguna,Santa Rosa City,2020.0,0.0,13.0
29,CALABARZON (IV-A),Laguna,Siniloan,2020.0,0.0,1.0
33,Central Luzon (III),Bulacan,Malolos City,2020.0,0.0,107.0
45,Central Visayas (VII),Cebu,Cebu City,2020.0,47.0,79.0
50,Central Visayas (VII),Cebu,Liloan,2020.0,2.0,184.0
59,Ilocos Region (I),La Union,San Fernando City,2020.0,0.0,1.0
71,National Capital Region (NCR),Manila,Makati,2020.0,131.0,1203.0
82,National Capital Region (NCR),Manila,Mandaluyong,2020.0,0.0,2.0
88,National Capital Region (NCR),Manila,Manila,2020.0,56.0,51.0
94,National Capital Region (NCR),Manila,Muntinlupa,2020.0,19.0,619.0
100,National Capital Region (NCR),Manila,ParaÃ±aque,2020.0,0.0,25.0
104,National Capital Region (NCR),Manila,Pasig,2020.0,81.0,250.0
110,National Capital Region (NCR),Manila,Quezon City,2020.0,6.0,88.0
116,National Capital Region (NCR),Manila,San Juan,2020.0,0.0,142.0
122,National Capital Region (NCR),Manila,Taguig,2020.0,0.0,1.0
135,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,2020.0,1.0,0.0
145,Western Visayas (VI),Iloilo,Iloilo City,2020.0,0.0,2.0

In [82]:
#WHERE (appointment_year >= 2020 AND appointment_year <= 2021) AND (A.region_name = 'National Capital Region (NCR)' OR A.region_name = 'CALABARZON (IV-A)') AND A.province IS NOT NULL AND A.city IS NOT NULL;
q1_dice_df = query1_df.loc[query1_df['province'].notnull() & query1_df['city'].notnull()]
q1_dice_df = q1_dice_df.loc[(query1_df['region_name'] == 'National Capital Region (NCR)') | (query1_df['region_name'] == 'CALABARZON (IV-A)')]
q1_dice_df = q1_dice_df.loc[(query1_df['appointment_year'] == 2020) | (query1_df['appointment_year'] == 2021)]
q1_dice_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
4,CALABARZON (IV-A),Cavite,Bacoor City,2020.0,0.0,16.0
5,CALABARZON (IV-A),Cavite,Bacoor City,2021.0,0.0,8.0
7,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2020.0,0.0,1.0
8,CALABARZON (IV-A),Cavite,DasmariÃ±as City,2021.0,0.0,11.0
13,CALABARZON (IV-A),Laguna,Calamba City,2020.0,0.0,102.0
14,CALABARZON (IV-A),Laguna,Calamba City,2021.0,1.0,148.0
19,CALABARZON (IV-A),Laguna,Pangil,2020.0,0.0,164.0
20,CALABARZON (IV-A),Laguna,Pangil,2021.0,0.0,331.0
24,CALABARZON (IV-A),Laguna,Santa Rosa City,2020.0,0.0,13.0
25,CALABARZON (IV-A),Laguna,Santa Rosa City,2021.0,0.0,28.0
29,CALABARZON (IV-A),Laguna,Siniloan,2020.0,0.0,1.0
71,National Capital Region (NCR),Manila,Makati,2020.0,131.0,1203.0
72,National Capital Region (NCR),Manila,Makati,2021.0,417.0,2377.0
77,National Capital Region (NCR),Manila,Malabon,2021.0,0.0,709.0
82,National Capital Region (NCR),Manila,Mandaluyong,2020.0,0.0,2.0
88,National Capital Region (NCR),Manila,Manila,2020.0,56.0,51.0
89,National Capital Region (NCR),Manila,Manila,2021.0,384.0,159.0
94,National Capital Region (NCR),Manila,Muntinlupa,2020.0,19.0,619.0
95,National Capital Region (NCR),Manila,Muntinlupa,2021.0,24.0,1015.0
100,National Capital Region (NCR),Manila,ParaÃ±aque,2020.0,0.0,25.0
104,National Capital Region (NCR),Manila,Pasig,2020.0,81.0,250.0
105,National Capital Region (NCR),Manila,Pasig,2021.0,347.0,219.0
110,National Capital Region (NCR),Manila,Quezon City,2020.0,6.0,88.0
111,National Capital Region (NCR),Manila,Quezon City,2021.0,11.0,125.0
116,National Capital Region (NCR),Manila,San Juan,2020.0,0.0,142.0
117,National Capital Region (NCR),Manila,San Juan,2021.0,0.0,1302.0
122,National Capital Region (NCR),Manila,Taguig,2020.0,0.0,1.0
123,National Capital Region (NCR),Manila,Taguig,2021.0,6.0,5.0
128,National Capital Region (NCR),Manila,Valenzuela,2021.0,0.0,13.0

In [57]:
#WHERE A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL AND A.appointment_year IS NULL;
q1_drilldown_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].notnull() & query1_df['city'].notnull() & query1_df['appointment_year'].isnull()]
q1_drilldown_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
3,CALABARZON (IV-A),Cavite,Bacoor City,NaN,0.0,24.0
6,CALABARZON (IV-A),Cavite,DasmariÃ±as City,NaN,0.0,43.0
12,CALABARZON (IV-A),Laguna,Calamba City,NaN,2.0,577.0
18,CALABARZON (IV-A),Laguna,Pangil,NaN,0.0,782.0
23,CALABARZON (IV-A),Laguna,Santa Rosa City,NaN,0.0,119.0
28,CALABARZON (IV-A),Laguna,Siniloan,NaN,0.0,1.0
32,Central Luzon (III),Bulacan,Malolos City,NaN,0.0,249.0
37,Central Luzon (III),Zambales,Olongapo City,NaN,0.0,84.0
44,Central Visayas (VII),Cebu,Cebu City,NaN,242.0,196.0
49,Central Visayas (VII),Cebu,Liloan,NaN,2.0,982.0
57,Ilocos Region (I),La Union,San Fernando City,NaN,0.0,3.0
62,Ilocos Region (I),Pangasinan,Pozzorubio,NaN,0.0,6.0
67,National Capital Region (NCR),Manila,Makati,NaN,602.0,10437.0
76,National Capital Region (NCR),Manila,Malabon,NaN,0.0,4352.0
81,National Capital Region (NCR),Manila,Mandaluyong,NaN,0.0,3.0
84,National Capital Region (NCR),Manila,Manila,NaN,1618.0,1212.0
93,National Capital Region (NCR),Manila,Muntinlupa,NaN,44.0,3940.0
99,National Capital Region (NCR),Manila,ParaÃ±aque,NaN,0.0,25.0
101,National Capital Region (NCR),Manila,Pasig,NaN,755.0,2214.0
109,National Capital Region (NCR),Manila,Quezon City,NaN,30.0,673.0
115,National Capital Region (NCR),Manila,San Juan,NaN,0.0,4301.0
121,National Capital Region (NCR),Manila,Taguig,NaN,32.0,194.0
127,National Capital Region (NCR),Manila,Valenzuela,NaN,0.0,112.0
134,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,NaN,1.0,0.0
137,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,NaN,7.0,140.0
144,Western Visayas (VI),Iloilo,Iloilo City,NaN,3.0,2.0

In [58]:
#WHERE A.region_name IS NOT NULL AND A.province IS NULL AND A.city IS NULL AND A.appointment_year IS NULL;
q1_rollup_df = query1_df.loc[query1_df['region_name'].notnull() & query1_df['province'].isnull() & query1_df['city'].isnull() & query1_df['appointment_year'].isnull()]
q1_rollup_df

,region_name,province,city,appointment_year,virtual_appointments,non_virtual_appointments
1,CALABARZON (IV-A),None,None,NaN,2.0,1546.0
30,Central Luzon (III),None,None,NaN,0.0,333.0
42,Central Visayas (VII),None,None,NaN,244.0,1178.0
55,Ilocos Region (I),None,None,NaN,0.0,9.0
65,National Capital Region (NCR),None,None,NaN,3081.0,27463.0
132,SOCCSKSARGEN (Cotabato Region) (XII),None,None,NaN,8.0,140.0
142,Western Visayas (VI),None,None,NaN,3.0,2.0

In [84]:
#WHERE A.appt_day_of_week IS NOT NULL AND A.region_name IS NOT NULL AND A.province IS NULL AND A.city IS NULL;
q3_1_df = query3_df.loc[query3_df['appt_day_of_week'].notnull() & query3_df['region_name'].notnull() & query3_df['province'].notnull() & query3_df['city'].isnull()]
q3_1_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
2,1.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,None,26.0827
6,1.0,Western Visayas (VI),Iloilo,None,19.7409
9,1.0,National Capital Region (NCR),Manila,None,14.2851
14,1.0,Ilocos Region (I),Pangasinan,None,9.4578
17,1.0,Central Visayas (VII),Negros Oriental,None,7.7211
...,...,...,...,...,...
356,7.0,Bicol Region (V),Albay,None,1.0000
359,7.0,CALABARZON (IV-A),Laguna,None,1.0000
362,7.0,Central Luzon (III),Bulacan,None,1.0000
364,7.0,Central Luzon (III),Zambales,None,1.0000
369,7.0,Western Visayas (VI),Iloilo,None,1.0000

In [66]:
#WHERE A.appt_day_of_week = 1 AND A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL;
q3_slice_df = query3_df.loc[(query3_df['appt_day_of_week'] == 1) & query3_df['region_name'].notnull() & query3_df['province'].notnull() & query3_df['city'].notnull()]
q3_slice_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
1,1.0,National Capital Region (NCR),Manila,Quezon City,58.5108
3,1.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,26.0827
7,1.0,Western Visayas (VI),Iloilo,Iloilo City,19.7409
11,1.0,Ilocos Region (I),Pangasinan,Pozzorubio,11.5204
12,1.0,Central Visayas (VII),Cebu,Cebu City,10.2151
13,1.0,National Capital Region (NCR),Manila,Manila,9.5254
16,1.0,Central Visayas (VII),Negros Oriental,Dumaguete City,7.7439
19,1.0,National Capital Region (NCR),Manila,Makati,7.3099
21,1.0,Central Visayas (VII),Negros Oriental,Valencia,6.6000
22,1.0,National Capital Region (NCR),Manila,Malabon,5.2479
23,1.0,National Capital Region (NCR),Manila,Muntinlupa,4.2459
26,1.0,Bicol Region (V),Albay,Manito,3.7143
27,1.0,National Capital Region (NCR),Manila,San Juan,2.9158
28,1.0,National Capital Region (NCR),Manila,Pasig,2.4615
29,1.0,Central Visayas (VII),Cebu,Liloan,2.2500
30,1.0,CALABARZON (IV-A),Laguna,Calamba City,2.0000
32,1.0,CALABARZON (IV-A),Laguna,Pangil,1.8652
33,1.0,National Capital Region (NCR),Manila,Taguig,1.8496
35,1.0,National Capital Region (NCR),Manila,ParaÃ±aque,1.7364
36,1.0,National Capital Region (NCR),Manila,Valenzuela,1.4194
37,1.0,Ilocos Region (I),Pangasinan,Dagupan City,1.1507
39,1.0,Ilocos Region (I),La Union,San Fernando City,1.1220
41,1.0,CALABARZON (IV-A),Cavite,Bacoor City,1.0000
42,1.0,CALABARZON (IV-A),Cavite,DasmariÃ±as City,1.0000
43,1.0,CALABARZON (IV-A),Laguna,Santa Cruz,1.0000
46,1.0,Central Luzon (III),Bulacan,Malolos City,1.0000
48,1.0,Central Luzon (III),Zambales,Olongapo City,1.0000
51,1.0,Eastern Visayas (VIII),Leyte,Kananga,1.0000
52,1.0,National Capital Region (NCR),Manila,Las PiÃ±as,1.0000
53,1.0,National Capital Region (NCR),Manila,Mandaluyong,1.0000
56,1.0,Northern Mindanao (X),Lanao del Norte,Iligan City,1.0000
58,1.0,SOCCSKSARGEN (Cotabato Region) (XII),Cotabato,Makilala,1.0000

In [81]:
#WHERE (A.appt_day_of_week = 6 OR A.appt_day_of_week = 7) AND (A.province = "Laguna" OR A.province = "Manila") AND A.region_name IS NOT NULL AND A.city IS NOT NULL;
q3_dice_df = query3_df.loc[query3_df['region_name'].notnull() & query3_df['city'].notnull()]
q3_dice_df = q3_dice_df.loc[(query3_df['province'] == 'Laguna') | (query3_df['province'] == 'Manila')]
q3_dice_df = q3_dice_df.loc[(query3_df['appt_day_of_week'] == 6) | (query3_df['appt_day_of_week'] == 7)]

q3_dice_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
285,6.0,National Capital Region (NCR),Manila,Quezon City,65.8320
286,6.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,None,21.4524
287,6.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,21.4524
288,6.0,SOCCSKSARGEN (Cotabato Region) (XII),None,None,21.2913
289,6.0,Ilocos Region (I),Pangasinan,None,19.3119
...,...,...,...,...,...
366,7.0,National Capital Region (NCR),Manila,Mandaluyong,1.0000
367,7.0,National Capital Region (NCR),Manila,San Juan,1.0000
368,7.0,Western Visayas (VI),None,None,1.0000
369,7.0,Western Visayas (VI),Iloilo,None,1.0000
370,7.0,Western Visayas (VI),Iloilo,Iloilo City,1.0000

In [85]:
#WHERE A.appt_day_of_week IS NOT NULL AND A.region_name IS NOT NULL AND A.province IS NOT NULL AND A.city IS NOT NULL;
q3_drilldown_df = query3_df.loc[query3_df['appt_day_of_week'].notnull() & query3_df['region_name'].notnull() & query3_df['province'].notnull() & query3_df['city'].notnull()]
q3_drilldown_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
1,1.0,National Capital Region (NCR),Manila,Quezon City,58.5108
3,1.0,SOCCSKSARGEN (Cotabato Region) (XII),South Cotabato,General Santos City,26.0827
7,1.0,Western Visayas (VI),Iloilo,Iloilo City,19.7409
11,1.0,Ilocos Region (I),Pangasinan,Pozzorubio,11.5204
12,1.0,Central Visayas (VII),Cebu,Cebu City,10.2151
...,...,...,...,...,...
363,7.0,Central Luzon (III),Bulacan,Malolos City,1.0000
365,7.0,Central Luzon (III),Zambales,Olongapo City,1.0000
366,7.0,National Capital Region (NCR),Manila,Mandaluyong,1.0000
367,7.0,National Capital Region (NCR),Manila,San Juan,1.0000
370,7.0,Western Visayas (VI),Iloilo,Iloilo City,1.0000

In [86]:
#WHERE A.appt_day_of_week IS NOT NULL AND A.region_name IS NOT NULL AND A.province IS NULL AND A.city IS NULL;
q3_rollup_df = query3_df.loc[query3_df['appt_day_of_week'].notnull() & query3_df['region_name'].notnull() & query3_df['province'].isnull() & query3_df['city'].isnull()]
q3_rollup_df

,appt_day_of_week,region_name,province,city,AVG(D.appts)
4,1.0,SOCCSKSARGEN (Cotabato Region) (XII),None,None,25.8955
5,1.0,Western Visayas (VI),None,None,19.7409
8,1.0,National Capital Region (NCR),None,None,14.2851
15,1.0,Ilocos Region (I),None,None,8.6201
18,1.0,Central Visayas (VII),None,None,7.3140
...,...,...,...,...,...
347,7.0,Central Visayas (VII),None,None,1.3261
352,7.0,CALABARZON (IV-A),None,None,1.1429
355,7.0,Bicol Region (V),None,None,1.0000
361,7.0,Central Luzon (III),None,None,1.0000
368,7.0,Western Visayas (VI),None,None,1.0000

In [92]:
#WHERE A.mainspecialty IS NOT NULL AND A.isvirtual IS NOT NULL AND A.agerange IS NULL AND A.age IS NULL; 
q4_1_df = query4_df.loc[query4_df['mainspecialty'].notnull() & query4_df['isvirtual'].notnull() & query4_df['agerange'].isnull() & query4_df['age'].isnull()]
q4_1_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
2,DERMATOLOGY,0.0,None,NaN,39873,13.8945
115,DERMATOLOGY,1.0,None,NaN,674,18.5519
200,General Medicine,0.0,None,NaN,29,388.7931
225,General Medicine,1.0,None,NaN,38,1465.2632
248,Internal Medicine,0.0,None,NaN,1607,86.0218
328,Internal Medicine,1.0,None,NaN,2015,49.9553
411,MISC,0.0,None,NaN,138301,237.3710
516,MISC,1.0,None,NaN,1508,68.3733
600,OBSTETRICS AND GYNECOLOGY,0.0,None,NaN,2786,222.1572
668,OBSTETRICS AND GYNECOLOGY,1.0,None,NaN,225,47.1200
710,OPHTHALMOLOGY,0.0,None,NaN,13618,12.8617
816,OPHTHALMOLOGY,1.0,None,NaN,6,16.6667
826,ORTHOPEDIC SURGERY,0.0,None,NaN,47,20.3404
859,ORTHOPEDIC SURGERY,1.0,None,NaN,3,8.3333
867,Pediatrics,0.0,None,NaN,1588,73.1725
913,Pediatrics,1.0,None,NaN,434,14.8733

In [97]:
#WHERE A.mainspecialty IS NOT NULL AND A.isvirtual = 1 AND A.agerange IS NOT NULL AND A.age IS NULL;
q4_slice_df = query4_df.loc[query4_df['mainspecialty'].notnull() & (query4_df['isvirtual'] == 1) & query4_df['agerange'].notnull() & query4_df['age'].isnull()]
q4_slice_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
116,DERMATOLOGY,1.0,0-9,NaN,56,22.0357
122,DERMATOLOGY,1.0,10-19,NaN,160,16.7938
133,DERMATOLOGY,1.0,20-29,NaN,166,15.7169
144,DERMATOLOGY,1.0,30-39,NaN,129,25.2171
155,DERMATOLOGY,1.0,40-49,NaN,68,14.0735
166,DERMATOLOGY,1.0,50-59,NaN,37,22.1081
176,DERMATOLOGY,1.0,60+,NaN,58,16.3103
226,General Medicine,1.0,30-39,NaN,2,1116.0000
229,General Medicine,1.0,40-49,NaN,9,1129.2222
235,General Medicine,1.0,50-59,NaN,24,1533.0000
244,General Medicine,1.0,60+,NaN,3,2164.3333
329,Internal Medicine,1.0,10-19,NaN,2,12.5000
331,Internal Medicine,1.0,20-29,NaN,88,57.4091
340,Internal Medicine,1.0,30-39,NaN,280,34.4643
351,Internal Medicine,1.0,40-49,NaN,303,43.6106
362,Internal Medicine,1.0,50-59,NaN,335,63.4567
373,Internal Medicine,1.0,60+,NaN,1007,51.1033
517,MISC,1.0,0-9,NaN,15,-4.7333
522,MISC,1.0,10-19,NaN,1,-2.0000
524,MISC,1.0,20-29,NaN,89,61.6517
533,MISC,1.0,30-39,NaN,375,62.9307
544,MISC,1.0,40-49,NaN,381,71.6903
555,MISC,1.0,50-59,NaN,219,47.8950
566,MISC,1.0,60+,NaN,428,84.7921
669,OBSTETRICS AND GYNECOLOGY,1.0,20-29,NaN,20,67.0000
675,OBSTETRICS AND GYNECOLOGY,1.0,30-39,NaN,98,54.7245
686,OBSTETRICS AND GYNECOLOGY,1.0,40-49,NaN,66,38.4091
697,OBSTETRICS AND GYNECOLOGY,1.0,50-59,NaN,34,36.5588
705,OBSTETRICS AND GYNECOLOGY,1.0,60+,NaN,7,17.2857
817,OPHTHALMOLOGY,1.0,10-19,NaN,2,40.5000
820,OPHTHALMOLOGY,1.0,20-29,NaN,2,4.0000
823,OPHTHALMOLOGY,1.0,40-49,NaN,2,5.5000
860,ORTHOPEDIC SURGERY,1.0,30-39,NaN,1,-13.0000
862,ORTHOPEDIC SURGERY,1.0,50-59,NaN,1,21.0000
864,ORTHOPEDIC SURGERY,1.0,60+,NaN,1,17.0000
914,Pediatrics,1.0,0-9,NaN,260,11.7115
921,Pediatrics,1.0,10-19,NaN,162,19.7716
931,Pediatrics,1.0,20-29,NaN,5,41.4000
935,Pediatrics,1.0,40-49,NaN,1,0.0000
937,Pediatrics,1.0,60+,NaN,6,0.0000

In [98]:
#WHERE A.average_queue_wait_time_hours > 24 AND A.mainspecialty IS NOT NULL AND A.isvirtual = 1 AND A.agerange IS NOT NULL AND A.age IS NULL;
q4_dice_df = query4_df.loc[query4_df['mainspecialty'].notnull() & query4_df['isvirtual'].notnull() & query4_df['agerange'].notnull() & query4_df['age'].isnull()]
q4_dice_df = q4_dice_df.loc[query4_df['average_queue_wait_time_hours'] > 24]

q4_dice_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
3,DERMATOLOGY,0.0,0-9,NaN,223,119.0179
9,DERMATOLOGY,0.0,10-19,NaN,1126,86.9121
20,DERMATOLOGY,0.0,20-29,NaN,4141,30.4576
144,DERMATOLOGY,1.0,30-39,NaN,129,25.2171
201,General Medicine,0.0,30-39,NaN,9,311.0000
208,General Medicine,0.0,40-49,NaN,7,722.7143
215,General Medicine,0.0,50-59,NaN,13,262.8462
226,General Medicine,1.0,30-39,NaN,2,1116.0000
229,General Medicine,1.0,40-49,NaN,9,1129.2222
235,General Medicine,1.0,50-59,NaN,24,1533.0000
244,General Medicine,1.0,60+,NaN,3,2164.3333
251,Internal Medicine,0.0,20-29,NaN,43,54.6744
259,Internal Medicine,0.0,30-39,NaN,114,59.0789
270,Internal Medicine,0.0,40-49,NaN,223,80.3543
281,Internal Medicine,0.0,50-59,NaN,306,93.7320
292,Internal Medicine,0.0,60+,NaN,918,89.8813
331,Internal Medicine,1.0,20-29,NaN,88,57.4091
340,Internal Medicine,1.0,30-39,NaN,280,34.4643
351,Internal Medicine,1.0,40-49,NaN,303,43.6106
362,Internal Medicine,1.0,50-59,NaN,335,63.4567
373,Internal Medicine,1.0,60+,NaN,1007,51.1033
412,MISC,0.0,0-9,NaN,7186,563.2019
422,MISC,0.0,10-19,NaN,1765,457.8963
433,MISC,0.0,20-29,NaN,1101,130.8828
444,MISC,0.0,30-39,NaN,3915,96.4419
455,MISC,0.0,40-49,NaN,3916,88.2559
466,MISC,0.0,50-59,NaN,116519,228.3906
477,MISC,0.0,60+,NaN,3899,126.7399
524,MISC,1.0,20-29,NaN,89,61.6517
533,MISC,1.0,30-39,NaN,375,62.9307
544,MISC,1.0,40-49,NaN,381,71.6903
555,MISC,1.0,50-59,NaN,219,47.8950
566,MISC,1.0,60+,NaN,428,84.7921
603,OBSTETRICS AND GYNECOLOGY,0.0,20-29,NaN,434,352.5323
614,OBSTETRICS AND GYNECOLOGY,0.0,30-39,NaN,1254,250.3341
625,OBSTETRICS AND GYNECOLOGY,0.0,40-49,NaN,729,157.8354
636,OBSTETRICS AND GYNECOLOGY,0.0,50-59,NaN,261,107.7356
647,OBSTETRICS AND GYNECOLOGY,0.0,60+,NaN,107,82.5140
669,OBSTETRICS AND GYNECOLOGY,1.0,20-29,NaN,20,67.0000
675,OBSTETRICS AND GYNECOLOGY,1.0,30-39,NaN,98,54.7245
686,OBSTETRICS AND GYNECOLOGY,1.0,40-49,NaN,66,38.4091
697,OBSTETRICS AND GYNECOLOGY,1.0,50-59,NaN,34,36.5588
817,OPHTHALMOLOGY,1.0,10-19,NaN,2,40.5000
832,ORTHOPEDIC SURGERY,0.0,30-39,NaN,5,33.6000
849,ORTHOPEDIC SURGERY,0.0,60+,NaN,16,27.6250
868,Pediatrics,0.0,0-9,NaN,1131,71.4553
875,Pediatrics,0.0,10-19,NaN,390,74.6000
885,Pediatrics,0.0,20-29,NaN,23,215.2174
898,Pediatrics,0.0,40-49,NaN,17,57.4118
931,Pediatrics,1.0,20-29,NaN,5,41.4000

In [99]:
#WHERE A.mainspecialty IS NOT NULL AND A.isvirtual IS NOT NULL AND A.agerange IS NOT NULL AND A.age IS NULL; 
q4_drilldown_df = query4_df.loc[query4_df['mainspecialty'].notnull() & query4_df['isvirtual'].notnull() & query4_df['agerange'].notnull() & query4_df['age'].isnull()]
q4_drilldown_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
3,DERMATOLOGY,0.0,0-9,NaN,223,119.0179
9,DERMATOLOGY,0.0,10-19,NaN,1126,86.9121
20,DERMATOLOGY,0.0,20-29,NaN,4141,30.4576
31,DERMATOLOGY,0.0,30-39,NaN,7644,13.1290
42,DERMATOLOGY,0.0,40-49,NaN,9122,7.4914
...,...,...,...,...,...,...
914,Pediatrics,1.0,0-9,NaN,260,11.7115
921,Pediatrics,1.0,10-19,NaN,162,19.7716
931,Pediatrics,1.0,20-29,NaN,5,41.4000
935,Pediatrics,1.0,40-49,NaN,1,0.0000
937,Pediatrics,1.0,60+,NaN,6,0.0000

In [100]:
#WHERE A.mainspecialty IS NOT NULL AND A.isvirtual IS NULL AND A.agerange IS NULL AND A.age IS NULL; 
q4_rollup_df = query4_df.loc[query4_df['mainspecialty'].notnull() & query4_df['isvirtual'].isnull() & query4_df['agerange'].isnull() & query4_df['age'].isnull()]
q4_rollup_df

,mainspecialty,isvirtual,agerange,age,count_appointments,average_queue_wait_time_hours
1,DERMATOLOGY,NaN,None,NaN,40547,13.9720
199,General Medicine,NaN,None,NaN,67,999.3284
247,Internal Medicine,NaN,None,NaN,3622,65.9572
410,MISC,NaN,None,NaN,139809,235.5481
599,OBSTETRICS AND GYNECOLOGY,NaN,None,NaN,3011,209.0774
709,OPHTHALMOLOGY,NaN,None,NaN,13624,12.8634
825,ORTHOPEDIC SURGERY,NaN,None,NaN,50,19.6200
866,Pediatrics,NaN,None,NaN,2022,60.6592